h1 {
    color:black;
    font-size: 25px;
}
/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
}

#data-container {
    /* flex: 2; */
    font-size: 30px;
    direction: rtl;
    text-align: right;
} */


#data-container span {
    cursor: pointer; /* Changes the cursor to indicate interactivity */
    transition: text-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    padding-left: 3px;
    padding-right: 3px;
}

#data-container span:hover {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Shadow effect on hover */
    /* Add a tooltip that when i hover it says hello */


}

.arabic-word {
    position: relative;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* overflow: hidden; Prevent scrolling */
}

#data-container {
    font-size: 30px;
    direction: rtl;
    text-align: right;
    width: 90%; /* Ensure container takes up most of the width, adjust as needed */
    overflow: hidden; /* Prevent overflow within the container */
    max-width: 100%; /* Prevent the container from exceeding the viewport width */
}

p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    line-height: 1.5; /* Adjust line height for better spacing */
    /* white-space: nowrap; Prevent text from wrapping to ensure each line stays within the viewport */
    overflow: hidden; 
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    width: 100%; /* Ensure paragraph takes full width of the container */
}
