h1 {
    color:black;
    font-size: 25px;
}

#data-container span {
    cursor: pointer; /* Changes the cursor to indicate interactivity */
    transition: text-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    padding-left: 3px;
    padding-right: 3px;
}

#data-container span:hover {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Shadow effect on hover */
    /* Add a tooltip that when i hover it says hello */


}

.word {
    position: relative;  /* Ensures the tooltip is positioned relative to this span */
    display: inline-block; /* Helps maintain the structure when applying position */
    cursor: pointer;
}

.word:hover .tooltip {
    visibility: visible;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#data-container {
    flex: 2;
    font-size: 30px;
    direction: rtl;
    text-align: right;
}

.arabic-word {
    position: relative;
    cursor: pointer;
}

