h1 {
    color:black;
    font-size: 25px;
}




#data-container span {
    cursor: pointer; /* Changes the cursor to indicate interactivity */
    transition: text-shadow 0.3s ease; /* Smooth transition for the shadow effect */
    padding-left: 3px;
    padding-right: 3px;
}

#data-container span:hover {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Shadow effect on hover */
    /* Add a tooltip that when i hover it says hello */


}

.word {
    position: relative;  /* Ensures the tooltip is positioned relative to this span */
    display: inline-block; /* Helps maintain the structure when applying position */
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    text-shadow: none;
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 100; /* Higher index to ensure it's above other content */
    white-space: nowrap; /* Keeps the tooltip as a single line */
}

.word:hover .tooltip {
    visibility: visible;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#data-container {
    flex: 2;
    font-size: 30px;
    direction: rtl;
    text-align: right;
}
#sidebar {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.arabic-word {
    position: relative;
    cursor: pointer;
}

.definition-button {
    display: none;
    position: absolute;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.definition-button.show {
    display: block;
}
